body {
    font-family: 'Cairo', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    text-align: right;
    direction: rtl;
    color: #333;
    user-select: none
}

.header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 30px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 15px 15px;
    user-select: none
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
}

.header h3 {
    margin: 10px 0 0 0;
    font-size: 1.2em;
    color: #ecf0f1;
}

/* تنسيق المحتوى */
main {
    padding: 20px;
    max-width: 900px;
    margin: 30px auto;
    background-color: white;
    border-radius: 11px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}
main p strong.head {
  color: #fff;
  background: #333;
  border-radius: 4px;
}

main p strong.io {
  color: indianred;
}

main a {
	color: #000;
text-decoration: none;
}
#summary h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #34495e;
}

#lecture-content {
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 8px;
    line-height: 1.8;
    font-size: 1.2em;
    border: 1px solid #ddd;
}